@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .print-exact {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
